<div class="">
    <div class="acc-container" id="login">
        <h2>Login</h2>

        <form class="form login-form">
            <div class="">
                <label for="email-login">Email</label>
                <input class="form-input" type="text" id="email-login">
            </div>
            <div class="">
                <label for="password-login">Password</label>
                <input class="form-input" type="text" id="password-login">
            </div>
            <div class="">
                <button class="btn" type="submit">Login</button>
            </div>
        </form>
        <span id="signup-btn">Don't have an account? Sign up!</span>
    </div>


    <div class="acc-container" id="signup">
        <h2>Signup</h2>

        <form class="form signup-form">
            <div class="">
                <label for="first-name">First Name</label>
                <input class="form-input" type="text" id="first-name">
            </div>
            <div class="">
                <label for="last-name">Last  Name:</label>
                <input class="form-input" type="text" id="last-name">
            </div>
            <div class="">
                <label for="email-signup">Email</label>
                <input class="form-input" type="text" id="email-signup">
            </div>
            <div class="">
                <label for="password-signup">Password</label>
                <input class="form-input" type="text" id="password-signup">
            </div>
            <div class="">
                <button class="btn" type="submit">Signup</button>
            </div>
        </form>
        <span id="login-btn">Already have an account? Login!</span>
    </div>
</div>

<script src="./js/login.js"></script>