* {
    font-family: Arial;
}
a {
    text-decoration: none;
    color: black;
}

#logo-text:hover {
    text-decoration: none;
    color: black;
}
a:hover {
    color: 	#ffc0c0;
    cursor: pointer;
}


header {
    background-color: #d68787;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 20px;
    margin: 0;
    margin-bottom: 100px;
}

nav a {
    margin-left: 20px;
}




/* login page */
#signup {
    display: none;
}
#login {
    display: block;
}

#signup-btn:hover {
    cursor: pointer;
}

#login-btn:hover {
    cursor: pointer;
}

.acc-container {
  width: 400px;
  background-color:#ffc0c0;
  margin: 0 auto;
  text-align: left;
  padding: 20px 0px 40px 0px;
  border-radius: 10px;
}

.acc-container h2 {
    text-align: center;
    margin-bottom: 40px;
}


.acc-container form div {
    margin-bottom: 20px;
    font-size: 20px;
    width: 200px;
    position: relative;
    right: -30%;
}

.acc-container form button {
    background-color:	#e25282;
    border: none;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    border-radius: 5px;
}

.acc-container form button:hover {
    cursor: pointer;
    background-color:#d68787;
}

.acc-container span {
   position: relative;
   right: -25%;
}

.acc-container span:hover {
    text-decoration: underline;
    color: #e25282;
}

.acc-container form input {
    border: solid 2px 	#e25282;
    border-radius: 3px;
    height: 20px;
}

/* BlogPost */

#blog-container {
    background-color: #ffc0c0;
    width: 600px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
}

#blog-container h2 {
    font-size: 30px;
}

 .date, .author  {
    background-color: #e25282;
    text-align: center;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
}

.date {
    height: 20px;
}

 .author {
    width: 25%;
   
}

#blog-container .content {
    font-size: 20px;
}


/* Homepage */



.latest-blog {
    position: absolute;
    width: 50%;
    right: 15%;
    top: 190px;
}

.blogs-list {
    width: 15%;
    position: relative;
    right: -10%;

}


.blogs {
    margin-bottom: 10px;
    background-color: #ffc0c0;
    /* width: 15%; */
    /* margin: 0 auto; */
    padding: 20px 10px 20px 10px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.featured {
    padding: 20px;
}

#ftBlg {
    text-align: center;
    font-size: 35px;
}

.featured .date  {
    width: 100px;
}

.blogs:hover {
    cursor: pointer;
    background-color: #d68787;
}

.blogs .blogs-info h2 a:hover {
    color: black;
}

/* Profile */
.welcome {
    font-size: 50px;
    text-align: center;
}

.profile-content {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: 0 auto;
}

.new-blog-form {
    background-color: #ffc0c0;
    padding: 20px;
    border-radius: 10px;
}

.new-blog-form h3 {
    font-size: 30px;
}

.new-blog-form form div {
    margin-bottom: 20px;
    font-size: 20px;
    width: 500px;
    position: relative;

}

.new-blog-form form .title {
    width: 200px;
}

.new-blog-form form button {
    background-color:	#e25282;
    border: none;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    border-radius: 5px;
}

.new-blog-form form button:hover {
    cursor: pointer;
    background-color:#d68787;
}



.new-blog-form form input, textarea {
    border: solid 2px 	#e25282;
    border-radius: 3px;
    height: 20px;
}

.new-blog-form div #blog-content {
    height: 500px;
    width: 500px;
}


.blog-post-list {
    background-color: #ffc0c0;
    width: 400px;
    display: flex;
    flex-direction: column;
    
}

.blog-post-list .posts {
    background-color: #d68787;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 20px;
}

.blog-post-list h3 {
    text-align: center;
    font-size: 30px;
}

.blog-post-list .posts h4 {
    font-size: 30px;
    margin-bottom: 20px;
}

.blog-post-list .posts button {
    background-color:	#e25282;
    border: none;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.blog-post-list .posts button:hover {
    background-color: #ffc0c0;
    cursor: pointer;
}

/* Blogpost Page */
#comment-section {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    height: 500px;
}

#comment-section div {
    margin: 20px;
}

#comment-section .comment-form form {
   display: flex;
   flex-direction: column;
   
}

#comment-section .comment-form form .my-comment {
   display: flex;
   flex-direction: column;

 }

#comment-section .comment-form form .my-comment textarea {
    width: 400px;
    height: 100px;

 }

 #comment-section .comment-form form div button {
   background-color: #e25282;
   border: none;
   color: white;
   padding: 10px;
   border-radius: 5px;
 }

 #comment-section .comment-form form div button:hover {
    cursor: pointer;
    background-color: #d68787;
  }


 #comment-section .comments-posted {
    border: solid 5px #e25282;
    border-radius: 10px;
    height: auto;
 }

 #comment-section .comments-posted p {
    border-bottom: solid 2px #d68787;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
 }










